.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 15fr 10fr 60fr 15fr;
}


#navbar {
  grid-column-start: 1;
  grid-column-end: span 5;
  grid-row-start: 1;
  grid-row-end: span 1;
}


#sidebar {
  writing-mode: vertical-rl;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 2;
}


#title {
  grid-column-start: 2;
  grid-column-end: span 4;
  grid-row-start: 2;
  grid-row-end: span 1;
}




#content {
  grid-column-start: 2;
  grid-column-end: span 4;
  grid-row-start: 3;
  grid-row-end: span 1;
}


#footer {
  grid-column-start: 1;
  grid-column-end: span 5;
  grid-row-start: 4;
  grid-row-end: span 1;
}
